[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
[submodule "external/msgpack-c"]
	path = external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "external/robin-hood-hashing"]
	path = external/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
